<!-- ===================================== ABOUT =================================================== -->
<section class="about section">
    <div class="about__wrapper container">
        <h2 class="about__title">ПРО НАС</h2>
        <div class="about__inner">
            <p class="about__text">
                У 1979 році, коли Ларсен відкривав свій перший магазин у другому за розмірами данському місті Орхус (Aarhus) – де,
                між
                іншим, він розташований і досі – він навіть не уявляв, наскільки стрімко зростатиме його бізнес. Ларсен продовжував
                відкривати успішні магазини JYSK Sengetøjslager (оригінальна назва магазину до 2001 року) на території Данії, а у
                1984
                році відкрив перший магазин за межами країни – у сусідній Німеччині.
            </p>
            <a href="" class="about__link">Дізнатись більше</a>
        </div>
    </div>
</section>




<!-- ===================================== ABOUT END =================================================== -->