<section class="card section">
    <div class="card__wrapper container">
        <h2 class="card__title">ПОЛИЦЯ<br> BANNERUP</h2>
        <div class="card__inner">
            <div class="card-picture">
                <picture class="icon">
                    <source srcset="./images/card-360.avif 1x, ./images/card-360@2x.avif 2x" type="image/avif">
                    <source srcset="./images/card-360.webp 1x, ./images/card-360@2x.webp 2x" type="image/webp">
                    <img srcset="./images/card-360.png 1x, ./images/card-360@2x.png 2x" src="./images/card-360.png" alt="" class="">
                </picture>
                <picture class="img">
                    <source srcset="./images/shelf.avif 1x, ./images/shelf@2x.avif 2x" type="image/avif">
                    <source srcset="./images/shelf.webp 1x, ./images/shelf@2x.webp 2x" type="image/webp">
                    <img srcset="./images/shelf.png 1x, ./images/shelf@2x.png 2x" src="./images/shelf.png" alt="" class="">
                </picture>
                <ul class="frame">
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="card-description">
                <h4 class="card-description__title card-text">1541 грн</h4>
                <ul class="card-description__list">
                    <li class="card-description__item">
                        <p class="card-text">Матеріали</p>
                        <p class="card-text">Штучна шкіра, ППУ, ПП
                            (поліпропілен), Сталь</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Набивка</p>
                        <p class="card-text">Сидіння</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Колір</p>
                        <p class="card-text">Білий</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Розмір в зібраному стані</p>
                        <p class="card-text">Ширина: 49 см, висота: 85 см, глибина: 56 см</p>
                    </li>
                </ul>
                <button class="card-description__button card-text">Оформити</button>
            </div>

        </div>
    </div>
</section>
<section class="similar section">
    <div class="similar__wrapper container">
        <h2 class="similar__title">СХОЖІ ТОВАРИ</h2>
        <ul class="similar__list">
            <li class="similar__item">
                <a href="" class="similar__link">
                    <picture class="catalog__img">
                        <source srcset="./images/similar-shelf-1.avif 1x, ./images/similar-shelf-1@2x.avif 2x"
                            media="(min-width: 1440px)" type="image/avif">
                        <source srcset="./images/similar-shelf-1.webp 1x, ./images/similar-shelf-1@2x.webp 2x"
                            media="(min-width: 1440px)" type="image/webp">
                        <source srcset="./images/similar-shelf-1.jpg 1x, ./images/similar-shelf-1@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./images/similar-shelf-1-mobile.avif 1x, ./images/similar-shelf-1-mobile@2x.avif 2x"
                            type="image/avif">
                        <source
                            srcset="./images/similar-shelf-1-mobile.webp 1x, ./images/similar-shelf-1-mobile@2x.webp 2x"
                            type="image/webp">
                        <img srcset="./images/similar-shelf-1-mobile.jpg 1x, ./images/similar-shelf-1-mobile@2x.jpg 2x"
                            src="./images/similar-shelf-1-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="similar__inner">
                        <h4 class="similar__text">Полиця</h4>
                        <p class="similar__text">255 грн</p>
                    </div>
                </a>
                <button class="similar__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
            <li class="similar__item">
                <a href="" class="similar__link">
                    <picture class="catalog__img">
                        <source srcset="./images/similar-shelf-2.avif 1x, ./images/similar-shelf-2@2x.avif 2x"
                            media="(min-width: 1440px)" type="image/avif">
                        <source srcset="./images/similar-shelf-2.webp 1x, ./images/similar-shelf-2@2x.webp 2x"
                            media="(min-width: 1440px)" type="image/webp">
                        <source srcset="./images/similar-shelf-2.jpg 1x, ./images/similar-shelf-2@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./images/similar-shelf-2-mobile.avif 1x, ./images/similar-shelf-2-mobile@2x.avif 2x"
                            type="image/avif">
                        <source
                            srcset="./images/similar-shelf-2-mobile.webp 1x, ./images/similar-shelf-2-mobile@2x.webp 2x"
                            type="image/webp">
                        <img srcset="./images/similar-shelf-2-mobile.jpg 1x, ./images/similar-shelf-2-mobile@2x.jpg 2x"
                            src="./images/similar-shelf-2-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="similar__inner">
                        <h4 class="similar__text">Полиця</h4>
                        <p class="similar__text">1541 грн</p>
                    </div>
                </a>
                <button class="similar__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
            <li class="similar__item">
                <a href="" class="similar__link">
                    <picture class="catalog__img">
                        <source srcset="./images/similar-shelf-3.avif 1x, ./images/similar-shelf-3@2x.avif 2x"
                            media="(min-width: 1440px)" type="image/avif">
                        <source srcset="./images/similar-shelf-3.webp 1x, ./images/similar-shelf-3@2x.webp 2x"
                            media="(min-width: 1440px)" type="image/webp">
                        <source srcset="./images/similar-shelf-3.jpg 1x, ./images/similar-shelf-3@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./images/similar-shelf-3-mobile.avif 1x, ./images/similar-shelf-3-mobile@2x.avif 2x"
                            type="image/avif">
                        <source
                            srcset="./images/similar-shelf-3-mobile.webp 1x, ./images/similar-shelf-3-mobile@2x.webp 2x"
                            type="image/webp">
                        <img srcset="./images/similar-shelf-3-mobile.jpg 1x, ./images/similar-shelf-3-mobile@2x.jpg 2x"
                            src="./images/similar-shelf-3-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="similar__inner">
                        <h4 class="similar__text">Полиця</h4>
                        <p class="similar__text">956 грн</p>
                    </div>
                </a>
                <button class="similar__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>