</main>
<!-- =================================== FOOTER =================================== -->
<footer class="footer section">
    <div class="footer__wrapper container">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="" class="footer__link">
                    Категорії
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Меблі для кухні
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Меблі для вітальні
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Меблі для офісу
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Меблі для ванни
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Меблі для спальні
                </a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="" class="footer__link">
                    Jysk
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Офіс
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Робота
                </a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__link">
                    Преса
                </a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <p class="footer__text">
                    Центральний офіс
                </p>
            </li>
            <li class="footer__item">
                <address class="footer__text">
                    ТОВ "ЮСК УКРАЇНА" <br>
                    м. Київ вул. Іоанна Павла ІІ, 2101042
                </address>
            </li>
        </ul>
    </div>

   
</footer>
<!-- =================================== FOOTER END =================================== -->

<!-- =======================================MODAL============================================ -->

<!-- =======================================  MODAL END ============================================== -->

<script src="js/main.min.js"></script>
</body>

</html>