<!-- ================================ HEADER ========================================== -->
    <header class="header section">
        <div class="header__wrapper container">
            <div class="navigation">
                <button class="navigation__button" type="button" data-menu-button>
                    <svg class="navigation__icon">
                        <use href="./images/sprite.svg#icon-menu"></use>
                    </svg>
                </button>
                <nav class="navigation__wrapper" data-menu>
                    <button class="navigation__close-button" type="button" data-menu-close>
                        <svg class="navigation__close-icon">
                            <use href="./images/sprite.svg#icon-close_40px"></use>
                        </svg>
                    </button>
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                            <ul class="navigation__sublist">
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                                <li class="navigation__subitem">
                                    <p class="navigation__text">Lorem, ipsum dolor.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Item</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="./" class="logo-link">
                <picture class="logo-link__img">
                    <!-- <source srcset="./images/logo-white.avif 1x, ./images/logo-white@2x.avif 2x" media="(min-width: 1440px)"
                        type="image/avif">
                    <source srcset="./images/logo-white.webp 1x, ./images/logo-white@2x.webp 2x" media="(min-width: 1440px)"
                        type="image/webp">
                    <source srcset="./images/logo-white.png 1x, ./images/logo-white@2x.png 2x" media="(min-width: 1440px)"> -->
                    <source srcset="./images/logo-white.avif 1x, ./images/logo-white@2x.avif 2x" type="image/avif">
                    <source srcset="./images/logo-white.webp 1x, ./images/logo-white@2x.webp 2x" type="image/webp">
                    <img srcset="./images/logo-white.png 1x, ./images/logo-white@2x.png 2x" src="./images/logo-white.png"
                        alt="buildings on the mountains by the sea">
                </picture>
            </a>
            <ul class="user-order">
                <li class="user-order__item">
                    <a href="" class="user-order__link">
                        <svg class="user-order__icon">
                            <use href="./images/sprite.svg#icon-user"></use>
                        </svg>
                    </a>
                </li>
                <li class="user-order__item">
                    <a href="" class="user-order__link">
                        <svg class="user-order__icon">
                            <use href="./images/sprite.svg#icon-bag"></use>
                        </svg>
                        <span>(0)</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
<!-- ================================ HEADER END========================================== -->
    <main>