<section class="novelty section">
    <div class="novelty__wrapper container">
        <h2 class="novelty__title">НОВИНКИ</h2>
        <ul class="novelty__list">
            <li class="novelty__item">
                <a href="" class="novelty__link">
                    <picture class="catalog__img">
                        <source srcset="./images/novetly-1.avif 1x, ./images/novetly-1@2x.avif 2x" media="(min-width: 1440px)"
                            type="image/avif">
                        <source srcset="./images/novetly-1.webp 1x, ./images/novetly-1@2x.webp 2x" media="(min-width: 1440px)"
                            type="image/webp">
                        <source srcset="./images/novetly-1.jpg 1x, ./images/novetly-1@2x.jpg 2x" media="(min-width: 1440px)">
                        <source srcset="./images/novetly-1-mobile.avif 1x, ./images/novetly-1-mobile@2x.avif 2x" type="image/avif">
                        <source srcset="./images/novetly-1-mobile.webp 1x, ./images/novetly-1-mobile@2x.webp 2x" type="image/webp">
                        <img srcset="./images/novetly-1-mobile.jpg 1x, ./images/novetly-1-mobile@2x.jpg 2x"
                            src="./images/novetly-1-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="novelty__inner">
                        <h4 class="novelty__text">Ваза</h4>
                        <p class="novelty__text">748 грн</p>
                    </div>
                </a>
                <button class="novelty__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
            <li class="novelty__item">
                <a href="" class="novelty__link">
                    <picture class="catalog__img">
                        <source srcset="./images/novetly-2.avif 1x, ./images/novetly-2@2x.avif 2x" media="(min-width: 1440px)"
                            type="image/avif">
                        <source srcset="./images/novetly-2.webp 1x, ./images/novetly-2@2x.webp 2x" media="(min-width: 1440px)"
                            type="image/webp">
                        <source srcset="./images/novetly-2.jpg 1x, ./images/novetly-2@2x.jpg 2x" media="(min-width: 1440px)">
                        <source srcset="./images/novetly-2-mobile.avif 1x, ./images/novetly-2-mobile@2x.avif 2x" type="image/avif">
                        <source srcset="./images/novetly-2-mobile.webp 1x, ./images/novetly-2-mobile@2x.webp 2x" type="image/webp">
                        <img srcset="./images/novetly-2-mobile.jpg 1x, ./images/novetly-2-mobile@2x.jpg 2x"
                            src="./images/novetly-2-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="novelty__inner">
                        <h4 class="novelty__text">Подушка</h4>
                        <p class="novelty__text">463 грн</p>
                    </div>
                </a>
                <button class="novelty__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
            <li class="novelty__item">
                <a href="" class="novelty__link">
                    <picture class="catalog__img">
                        <source srcset="./images/novetly-3.avif 1x, ./images/novetly-3@2x.avif 2x" media="(min-width: 1440px)"
                            type="image/avif">
                        <source srcset="./images/novetly-3.webp 1x, ./images/novetly-3@2x.webp 2x" media="(min-width: 1440px)"
                            type="image/webp">
                        <source srcset="./images/novetly-3.jpg 1x, ./images/novetly-3@2x.jpg 2x" media="(min-width: 1440px)">
                        <source srcset="./images/novetly-3-mobile.avif 1x, ./images/novetly-3-mobile@2x.avif 2x" type="image/avif">
                        <source srcset="./images/novetly-3-mobile.webp 1x, ./images/novetly-3-mobile@2x.webp 2x" type="image/webp">
                        <img srcset="./images/novetly-3-mobile.jpg 1x, ./images/novetly-3-mobile@2x.jpg 2x"
                            src="./images/novetly-3-mobile.jpg" alt="" class="">
                    </picture>
                    <div class="novelty__inner">
                        <h4 class="novelty__text">Килим</h4>
                        <p class="novelty__text">374 грн</p>
                    </div>
                </a>
                <button class="novelty__button">
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>